* {
  box-sizing: border-box;
}

body {
  font-family: "Courier New", "Courier", monospace;
  background-color: #2b99cc;
  color: navy;
}
.projects {
  display: block;
  max-height: 30%;
  max-width: 30%;
  margin-left: 12%;
}

header {
  padding: 25px;
  text-align: center;
  background: #6681a3;
  color: navy;
}

.header h1 {
  font-size: 60px;
}

h2 {
  font-size: 48px;
  margin-left: 6%;
}

h4 {
  font-size: 24px;
  margin-left: 15%;
}

p {
  margin-left: 5%;
  margin-right: 5%;
  justify-content: space-around;
}

img {
  display: block;
  max-height: 30%;
  max-width: 30%;
  margin-left: 12%;
}
  
.navbar {
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.navbar a {
  float: left; 
  display: flex; 
  color: navy;  
  padding: 14px 20px;  
  text-decoration: none;  
}

.navbar a:hover {
  background-color: #91a6c7;  
  color: navy;  
}

.footer {
  padding: 50px;
  text-align: center;
  text-decoration: none;
}

@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}