* {
  box-sizing: border-box;
}

body {
  font-family: "Courier New", "Courier", monospace;
  background-color: #2b99cc;
  color: navy;
}

header {
  padding: 25px;
  text-align: center;
  background: #6681a3;
  color: navy;
}

.header h1 {
  font-size: 60px;
}

h2 {
  font-size: 48px;
}

img {
  display: block;
  max-height: 30%;
  max-width: 30%
}
  
.navbar {
  overflow: hidden;
  display: block;
}

.navbar a {
  float: left; 
  display: block; 
  color: navy;  
  padding: 14px 20px;  
  text-decoration: none;  
}

.navbar a:hover {
  background-color: #91a6c7;  
  color: navy;  
}

