* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
 --color-primary: #bfd6f2;
 --color-secondary: navy;
 --color-blue: #66b3ff;
 --color-blue-2: #6681a3;
}

body {
  font-family: Courier;
  font-size: 1.1rem;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  transition: all .4s ease-in-out;
  margin: 0;
}



.header {
  position: relative;
  margin-top: 0;
  text-align: center;
  background: var(--color-blue-2);
  color: var(-secondary);
}

.headshot {
  position: absolute;
    left: 0;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 24px;
}

h3 {
  margin-left: 5%;
  font-size: 36px;
}

h4 {
  font-size: 24px;
  text-align: center;
}

.card-text {
  padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #f8f9fa;
}

p {
  margin-left: 5%;
}

.section {
  text-decoration: none;
}

.card {
text-decoration: none;
}

#headshot {
  display: block;
  align-content: left center;
}

img {
  padding: 5px;
  max-height: 100%;
  max-width: 100%;
}

.row {
  margin-left: 5%;
  margin-right: 5%;
  justify-content: space-around;
  }
 
  
.navbar {
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.navbar a {
  float: left; 
  display: flex; 
  color: var(--color-secondary);  
  padding: 14px 20px;  
  text-decoration: none;  
}

.navbar a:hover {
  background-color: #91a6c7;  
  color: var(--color-secondary);  
}

.footer {
  padding: 50px;
  text-align: center;
  text-decoration: none;
}

.footer .links {
  padding: 25px;
}

.footer a:hover {
  background-color: #91a6c7; 
  color: var(secodary);  
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .headshot {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}
